{% extends "base.html" %}
{% block content %}
<div class="heading-container">
<img src="/static/images/logo.png" alt="Home icon" class="icon-img">
<h1 class="page-title">Calendrier - Assignment Tracker</h1>
</div>
<div class="assignments-section">
    <div class="assignments-header">
        <h2>Assignments</h2>
        <button class="add-assignment-btn" onclick="window.location.href='/assignments/new'">Add New Assignment</button>
    </div>
    <ul class="assignments-list">
        {% for assignment in assignments %}
        <li class="assignment-item">
            <!-- <span class="assignment-title">{{ assignment.title }}</span> -->
            <!-- <span class="assignment-due">Due: {{ assignment.due_date }}</span> -->
            <!-- <a href="/assignments/{{ assignment.id }}" class="view-details-btn">View Details</a> --> 
        </li>
        {% else %}
        <li>No assignments found.</li>
        {% endfor %}
    </ul>
</div>

<form method="GET" action="/" class="search-bar">

</form>
<div class="grids-holder">
    <div class="grid-container">
        {% for class in CLASSES %}
        <div class="product-card">
            <h3>{{ product['product_name'] }}</h3>
            <p class="type">{{ CLASSES }}</p>

            <a class="details-btn" href="{{ url_for()}}">
                View Details
            </a>

            <a class="edit-btn" href="{{ url_for() }}">
                Edit
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
